@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* shared styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    margin: 30px 120px;
    /* width: calc(100% - 10px)/2; */
    background-image: linear-gradient(#111111);

}

.color {
    background-color: #E6533C;

}

.opacity {
    color: #FFFFFF80;
}
.title1{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;

}
.btn-primary{
    background-color: #E6533C;
    color: #FFFFFF;
    padding: 16px 50px;
    border-radius: 42px;
    border: none;
}



/* nav bar styles */
.navigation-title,
.footer-title {
    color: #E6533C;
    /* background-color: red; */
}

.display-flex {
    display: flex;
    justify-content: space-between;
}

.nav-items {
    border: 2px solid rgb(53, 50, 50);
    border-radius: 39px;
    height: 45px;
}

.home {
    background-color: #E6533C;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 18px;
    border: none;


}

.same {
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 400;

}

ul>li {
    list-style-type: none;
    margin-right: 47px;
    /* border: 1px solid red; */

}

ul>li>a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-items {
    margin-left: 10px;
}


/* main styles */
/* run-section-container styles */
.run-section-container{
    display: flex;
    justify-content: space-between;
     background: #2d2b2b;
     padding: 20px;
     border-radius: 1.1rem;
     gap: 130px;

}
.run-section-container img{
    width: 366px;
    height: 100%;
    border-radius: 1.1rem;
    overflow: hidden;
   
     
}
.run-title{
    margin-bottom: 1rem;
}
.run-des{
    margin-bottom: 1.3rem;
}
.run-section{
    margin-left: 40px;
}
.run-btn{
    margin-bottom: 1.4rem;
}
.run-img img{
    width: 100%;
    height: 100%;
     object-fit: cover;
}






/* Our team section styles */
.our-team-container{
    text-align: center;
     
}
 .team-title{
    margin-bottom: 20px;
 }


 .team-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 70px;  
  /* border: 1px solid gray; */
  padding: 15px;
  border-radius: 18px;
 background: #2d2b2b;
  
}

.parent {
  position: relative;
  width: 100%;
  height: 300px;  
  overflow: hidden;
  border-radius: 18px;
}

.team-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  border-radius: 18px;
  opacity: 80%;
}

.child {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 8px;
}

.img-title {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}


/* footer section styles */
footer {
    background: #171717;
    border: 1px solid;
    margin-top: 100px;
    padding-top: 60px;
    padding-bottom: 35px;
    
}

.footer-title {
    font-size: 70px;
    font-weight: bolder;
}

.footer-des {
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 20px;
}

.getstart-title {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
}

.getstart-items {
    font-size: 1rem;
    font-weight: 400;
}

.getstart-items li {
    margin-top: 20px;
}

.footer-frame {
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(2, 1fr);
}

.footer-getstart-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}

.horizontal {
    color: #FFFFFF;
    margin-top: 80px;
    opacity: 0.1;
}

.bottom-footer {
    margin-top: 35px;
    text-align: center;
}